<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Contact</title>
</head>
<body>
    <form action="{% url 'edit_contact' %}" method="post">
        <strong>Fill the fields that you want to edit, others you leave as blank</strong>
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Edit Contact">
    </form>
</body>
</html>